.cta-cont {
  background-image: url("\\assestes/ctabg.svg");
  background-size: cover;
  background-position: 0px -240px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cta-cont::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 179, 232, 0.593); /* Adjust the color and opacity as needed */
  z-index: 0;
}

.cta-cont h1 {
  color: var(--n-color);
  font-family: var(--p-font);
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
  z-index: 1;
}


.my-btn4 {
  background-color: var(--n-color);
  border: none;
  padding: 20px 50px;
  font-size: 25px;
  font-weight: 600;
  font-family: var(--s-font);
  color: var(--t-color);
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
  transition-duration: 0.3s;
  z-index: 2;
  position: relative;
}

.my-btn4:hover {
  background-color: var(--h-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.323);
  transition-duration: 0.3s;
}

.my-btn4:focus {
  background-color: var(--b-color);
}

@media only screen and (max-width: 1280px){
  .cta-cont {
    background-position: 0 -160px;
  }
}

@media only screen and (max-width: 1024px){
  .cta-cont {
    background-position: 0 -100px;
  }
}

@media only screen and (max-width: 770px){
  .cta-cont {
    background-position: 0 -80px;
  }
}

@media only screen and (max-width: 640px){
  .cta-cont {
    background-position: center 0px;
  }
}