.cta-cont {
  background-color: var(--p-color);

  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-cont h1 {
  color: var(--n-color);
  font-family: var(--p-font);
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}


.my-btn4 {
  background-color: var(--n-color);
  border: none;
  padding: 20px 50px;
  font-size: 25px;
  font-weight: 600;
  font-family: var(--s-font);
  color: var(--t-color);
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
  transition-duration: 0.3s;
}

.my-btn4:hover {
  background-color: var(--h-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.323);
  transition-duration: 0.3s;
}

.my-btn4:focus {
  background-color: var(--b-color);
}